/*Fuentes*/
$principal: "Roboto", sans-serif;
/*Resoluciones*/
$telefono:0;
$telefono-large:480px;
$tablet:768px;
$desktop:920px;
$desktop-large:1200px;

$thin:100;
$medium:400;
$medium-balck:600;
$black:800;

$purple:#56214F;
$white:white;
$crema: #e4edd9;
$brownTitle: #A0522D;
$brownSub:#4E342E;
$black: #000000;
$gris:#D9D9D9;
$cafe:#D7CCC8;
$verde:#33691E;