<section>
    <div class="proyectos-flex">
        <div class="box">
            <div class="tumbnail">
                <p>Fábrica Editorial</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo nisi recusandae illum consequatur, repellendus praesentium et quasi sed placeat deserunt qui consequuntur atque natus velit numquam, quia dolores hic.</p>
            <p class="tecnologies">HTML | CSS | JS </p>
        </div>
            <div class="box">
            <div class="tumbnail">
                <p>Fábrica Editorial</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo nisi recusandae illum consequatur, repellendus praesentium et quasi sed placeat deserunt qui consequuntur atque natus velit numquam, quia dolores hic.</p>
            <p>HTML | CSS | JS </p>
        </div>
            <div class="box">
            <div class="tumbnail">
                <p>Fábrica Editorial</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo nisi recusandae illum consequatur, repellendus praesentium et quasi sed placeat deserunt qui consequuntur atque natus velit numquam, quia dolores hic.</p>
            <p>HTML | CSS | JS </p>
        </div>
            <div class="box">
            <div class="tumbnail">
                <p>Fábrica Editorial</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo nisi recusandae illum consequatur, repellendus praesentium et quasi sed placeat deserunt qui consequuntur atque natus velit numquam, quia dolores hic.</p>
            <p>HTML | CSS | JS </p>
        </div>
            <div class="box">
            <div class="tumbnail">
                <p>Fábrica Editorial</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo nisi recusandae illum consequatur, repellendus praesentium et quasi sed placeat deserunt qui consequuntur atque natus velit numquam, quia dolores hic.</p>
            <p>HTML | CSS | JS </p>
        </div>
            <div class="box">
            <div class="tumbnail">
                <p>Fábrica Editorial</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo nisi recusandae illum consequatur, repellendus praesentium et quasi sed placeat deserunt qui consequuntur atque natus velit numquam, quia dolores hic.</p>
            <p>HTML | CSS | JS </p>
        </div>
    </div>
</section>