@import '../../../_utils/_var';
@import '../../../_utils/_mixins';

.bg-image{
    @include complete-window;
    background-image: url('/assets/bg.jpg');
    width: 100%;
    background-size: cover;
    background-position: left;
    background-color: $black;
    .opacity{
        background: black;
        width: 100%;
        height: 100vh;
        position: absolute;
        opacity: .2;
        top:0;
    }
    .title
    {   
        color: $black;
        z-index: 2;
        bottom:2rem;
        left: 3rem;
        position: absolute;
        h1{
            margin-bottom: 2rem;
            max-width: 20rem;
            font-size: 2.2rem;
            font-weight: 300;
        }
        a{
            background-color: $purple;
            padding: .5rem 2rem;
            color: $white;
            text-decoration: none;
            border-radius: .3rem;
            font-weight: 200;
        }
                @include tablet{
            padding: 0 1rem;
        }
    }
}