<nav id="nav" [class.sticky] = "sticky" 
#stickyMenu >
        <a href="nav"> 
            <img src="/assets/AYYM.png" alt="Ameyalli Yanez WEB" width="45px">
        </a>
    <ul>
        <li>
            <a href="#about">Acerca</a>
        </li>
        <li class="none">
            <a href="#">Experiencia</a>
        </li>
        <li>
            <a href="#portafolio">Portafolio</a>
        </li>
        <li class="none">
            <a href="#">Certificados</a>
        </li>
        <li class="none">
            <a href="#">Habilidades</a>
        </li>
        <li>
            <a href="#contact">Contacto</a>
        </li>
        <li>
            <a href="#">CV</a>
        </li>
        
    </ul>
</nav>