<nav>
    <h1>
        <strong>Ameyalli</strong>
        Yáñez
    </h1>
    <ul>
        <li>
            <a href="#">Acerca</a>
        </li>
        <li class="none">
            <a href="#">Experiencia</a>
        </li>
        <li>
            <a href="#">Portafolio</a>
        </li>
        <li class="none">
            <a href="#">Certificados</a>
        </li>
        <li class="none">
            <a href="#">Habilidades</a>
        </li>
        <li>
            <a href="#">Contacto</a>
        </li>
        <li>
            <a href="#">CV</a>
        </li>
        
    </ul>
</nav>