<nav id="nav" [class.sticky] = "sticky" 
#stickyMenu >
    <h1>
        <a href="nav">
            <strong>Ameyalli</strong>
            Yáñez
        </a>
    </h1>
    <ul>
        <li>
            <a href="#">Acerca</a>
        </li>
        <li class="none">
            <a href="#">Experiencia</a>
        </li>
        <li>
            <a href="#portafolio">Portafolio</a>
        </li>
        <li class="none">
            <a href="#">Certificados</a>
        </li>
        <li class="none">
            <a href="#">Habilidades</a>
        </li>
        <li>
            <a href="#contact">Contacto</a>
        </li>
        <li>
            <a href="#">CV</a>
        </li>
        
    </ul>
</nav>