/* You can add global styles to this file, and also import other style files */
@import '_utils/_var';
@import '_utils/mixins';

body, html{
    display: contents;
    margin:0;
    padding: 0;
    box-sizing: content-box;
}
h1,h2,h3,h4,h5{
  font-family: $principal;
}
p, a{
  font-family: $principal;
  font-optical-sizing: auto;
  font-style: normal;
}
strong{
  font-weight: 400;
}

html{
  scroll-behavior: smooth;
}

section{
  padding: 0 3rem;
}